<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/Menu.css">
    <title></title>
</head>
<body>
  <header>
    <nav>
      <div class="navMenu"></div>
      <a href="/">
        <svg>
          <symbol id="s-text">
              <text text-anchor="middle" x="52%" y="80%">O r d e r N o w !  </text>
            </symbol>
            <g class = "g-ants">
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
            </g>
          </svg>
    </a>
        <ul class="navbar">
            <li class="nav-item">
                <a href="/">Home</a>
            </li>
            <li class="nav-item">
                <a href="/about">About</a>
            </li>
            <li class="nav-item">
                <a href="/products">Menu</a>
            </li>
            <li class="nav-item">
                <a href="/contact_us">Contact Us</a>
            </li>
            <div class="dot"></div>
         </ul> 
         
    </nav>

</header>
    <div class='a'>
        <div class="a-left">
            <div class="a-card bg"></div>
            <div class="a-card-img">
              <img src="/img/eleven.jpg" class="a-img">
            </div>
        </div>
        <div class="a-right">
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <h2 class="animate-charcter"> History</h2>
              </div>
            </div>
          <p class='a-sub'>
          In 1885 Keens Chophouse opened independently under the ownership of Albert Keen, by then a noted figure in the Herald Square Theatre District. Keens soon became the lively and accepted rendezvous of the famous.<br/>
          Actors in full stage make-up hurried through the rear door to "fortify" themselves between acts at the neighboring Garrick Theatre. By the time Keens celebrated its 20th anniversary, you could glance into the Pipe Room and see the jovial congregations of producers, playwrights, publishers and newspaper men who frequented Keens.<br/>
          Today, Keens is the only survivor of the Herald Square Theatre District. In an age which tears down so much of the past it is comforting to find one landmark which survives.
          </p>
          <div class="a-award">
            <img src="/img/seven.jpg" class="a-award-img">
            <!-- <div class="a-award-texts">
              <p class='a-award-desc'>
              Reservations required.<br/>Staff required to disinfect surfaces between visit.
              </p>
            </div> -->

            <h3 class='tres'>
              <a href=''>Reservations required.<br/>Staff required to disinfect surfaces between visit.</a>
            </h3>
          </div>
        </div>
    </div>
</body>
</html>