<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/Menu.css">
</head>
<body>
    <header>
        <nav>
            <div class="navMenu"></div>
              <a href="/">
                  <svg>
                    <symbol id="s-text">
                        <text text-anchor="middle" x="52%" y="80%"> O r d e r N o w !  </text>
                      </symbol>
                      <g class = "g-ants">
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                        <use xlink:href="#s-text" class="text-copy"></use>
                      </g>
                    </svg>
              </a>
              <ul class="navbar">
                  <li class="nav-item">
                      <a href="/">Home</a>
                  </li>
                  <li class="nav-item">
                      <a href="/about" >About</a>
                  </li>
                  <li class="nav-item">
                      <a href="/products">Menu</a>
                  </li>
                  <li class="nav-item">
                      <a href="/contact_us">Contact Us</a>
                  </li>
                  <div class="dot"></div>
               </ul>  
        </nav>
    </header>
    <main>
        <div class='i'>
            <div class="i-left">
                <div class="i-left-wrapper"></div>
                <h2 class='i-intro'>RECIPIENT OF THE JAMES BEARD FOUNDATION<br/>
                AMERICA'S CLASSIC AWARDS 2013</h2>
                <h1 class='i-name'>KEENS CHOPHOUSE</h1>
                <h1 class='i-name2'>KEENS CHOPHOUSE</h1>
                <div class="i-title">
                    <div class="i-title-wrapper">
                    <div class="i-title-item">Dine-in</div>
                    <div class="i-title-item">Takeaway</div>
                    <div class="i-title-item">Delivery</div>
                    <div class="i-title-item">Menu: keens.com</div>
                    <div class="i-title-item">Order: chownow.com</div>
                   </div>
                </div>
                <div class="background-one">
                    <div class="link-container">
                        <div class="link-container1"></div>
                        <div class="link-container2"></div>
                        <div class="link-container3"></div>
                    <p class="link-one">
                        Monday : 11.45 AM – 10.30 PM <br/>
                        Tuesday : 11.45 AM –10.30 PM <br/>
                        Wednesday : 11.45 AM –10.30 PM <br/>
                        Thursday : 11.45 AM – 10.30 PM <br/>
                        Friday : 11.45 AM – 10.30 PM <br/>
                        Saturday : 5.00 PM – 10.30 PM <br/>
                        Sunday : 5.00 PM – 9.30 PM <br/>
                    </p>
                    </div>
                </div>
            </div>
            <div class="i-right">
                <div class="i-bg"></div>
                <img src="/img/eight.jpg" class="i-img">
                <p class='i-ph'>
                Phone: +1 212-947-3636
                </p>
                <p class='i-res'>
                Reservations: resy.com
                </p>
                <p class='i-info'>
                Address: 72 W 36th St, New York, NY 10018, United States.
                </p>
            </div>
        </div>
    </main>
</body>
</html>