<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/Menu.css">
    <title></title>
</head>
<body>
  <header>
    <nav>
      <div class="navMenu"></div>
      <a href="/">
        <svg>
          <symbol id="s-text">
              <text text-anchor="middle" x="52%" y="80%">O r d e r N o w !  </text>
            </symbol>
            <g class = "g-ants">
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
              <use xlink:href="#s-text" class="text-copy"></use>
            </g>
          </svg>
    </a>
        <ul class="navbar">
            <li class="nav-item">
                <a href="/">Home</a>
            </li>
            <li class="nav-item">
                <a href="/about">About</a>
            </li>
            <li class="nav-item">
                <a href="/products">Menu</a>
            </li>
            <li class="nav-item">
                <a href="/contact_us">Contact Us</a>
            </li>
            <div class="dot"></div>
         </ul> 
         
    </nav>
</header>
    <div class='pl'>
        <!-- <div class="pl-texts">
        <h1 class='pl-tiltle'></h1>
          <p class='pl-desc'>
            ---L U N C H---D I N N E R---P U B---D E S E R T---W I N E---S E A F O O D--- 
          </p>

        </div> -->
        <div class="waviy">
          <span style="--i:1">-</span>
          <span style="--i:2">L</span>
          <span style="--i:3">U</span>
          <span style="--i:4">N</span>
          <span style="--i:5">C</span>
          <span style="--i:6">h</span>
          <span style="--i:7">-</span>
          <span style="--i:8">-</span>
          <span style="--i:9">d</span>
          <span style="--i:10">i</span>
          <span style="--i:11">n</span>
          <span style="--i:12">n</span>
          <span style="--i:13">e</span>
          <span style="--i:14">r</span>
          <span style="--i:15">-</span>
          <span style="--i:16">-</span>
          <span style="--i:17">p</span>
          <span style="--i:18">u</span>
          <span style="--i:19">b</span>
          <span style="--i:20">-</span>
          <span style="--i:21">-</span>
          <span style="--i:21">d</span>
          <span style="--i:22">e</span>
          <span style="--i:23">s</span>
          <span style="--i:24">e</span>
          <span style="--i:25">r</span>
          <span style="--i:26">t</span>
          <span style="--i:27">-</span>
          <span style="--i:28">-</span>
          <span style="--i:29">w</span>
          <span style="--i:30">i</span>
          <span style="--i:31">n</span>
          <span style="--i:32">e</span>
          <span style="--i:33">-</span>
          <span style="--i:34">-</span>
          <span style="--i:35">s</span>
          <span style="--i:36">e</span>
          <span style="--i:37">a</span>
          <span style="--i:38">f</span>
          <span style="--i:39">o</span>
          <span style="--i:40">o</span>
          <span style="--i:41">d</span>
          <span style="--i:42">-</span>
         </div>
        <div class="pl-list">
            <div class='menu'>
                <div class='p'>
                  <img src="/img/one.jpg" class="p-img">
                  <img src="/img/three.jpeg" class="p-img">
                </div>
                <div class='p'>
                  <img src="/img/two.jpg" class="p-img">
                  <img src="/img/twelve.jpg" class="p-img">
                </div>
                <div class='p'>
                  <img src="/img/five.jpg" class="p-img">
                  <img src="/img/ten.jpg" class="p-img">
                </div>
                <div class='p'>
                  <img src="/img/fifteen.jpg" class="p-img">
                  <img src="/img/sixteen.jpg" class="p-img">
                </div>
                <div class='p'>
                  <img src="/img/eighteen.jpg" class="p-img">
                  <img src="/img/seventeen.jpg" class="p-img">
                </div>
                <div class='p'>
                  <img src="/img/four.jpg" class="p-img">
                  <img src="/img/nine.jpeg" class="p-img">
                </div>
            </div>
        </div>
    </div>
</body>
</html>